openapi: 3.0.3
info:
  title: Fortnite Tracker Challenges API
  version: '1.0'
  description: Fortnite Tracker (api.fortnitetracker.com/v1) is the Tracker Network developer surface that wraps Epic Games' Fortnite telemetry behind a simple REST API. It exposes per-player lifetime statistics, regional leaderboards, competitive power rankings, the daily/weekly in-game store rotation, and the current week's Battle Pass challenges. Every call requires a TRN-Api-Key header issued from fortnitetracker.com/site-api/create. The service is intentionally rate-limited (about one request every two seconds per key) and has been in a silent end-of-life state for several years — some endpoints may return intermittent errors.
  contact:
    name: Tracker Network Support
    url: https://feedback.tracker.gg/
  license:
    name: Tracker Network Terms of Service
    url: https://tracker.gg/about/terms
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.fortnitetracker.com/v1
  description: Fortnite Tracker production API
security:
- trnApiKey: []
tags:
- name: Challenges
  description: Current Battle Pass weekly challenges.
paths:
  /challenges:
    get:
      operationId: listChallenges
      summary: Fortnite Tracker List Weekly Challenges
      description: Retrieve the current week's Battle Pass challenge set, including completion criteria, star rewards, and challenge difficulty.
      tags:
      - Challenges
      responses:
        '200':
          description: Weekly challenge list retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Challenge'
              examples:
                ListChallenges200Example:
                  summary: Default listChallenges 200 response
                  x-microcks-default: true
                  value:
                  - id: 500123
                    name: Deal damage with shotguns to opponents
                    description: Deal 1,000 damage to opponents using shotguns.
                    completionGoal: 1000
                    rewardStars: 5
                    difficulty: medium
                    week: 6
                    season: c5s4
                  - id: 500124
                    name: Land at named locations
                    description: Land at 5 different named locations in a single match.
                    completionGoal: 5
                    rewardStars: 3
                    difficulty: easy
                    week: 6
                    season: c5s4
        '401':
          description: Missing or invalid TRN-Api-Key header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                ListChallenges401Example:
                  summary: Default listChallenges 401 response
                  x-microcks-default: true
                  value:
                    error: unauthorized
                    message: Missing or invalid TRN-Api-Key header.
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                ListChallenges429Example:
                  summary: Default listChallenges 429 response
                  x-microcks-default: true
                  value:
                    error: rate_limited
                    message: Rate limit exceeded.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Challenge:
      type: object
      description: A single Battle Pass weekly challenge.
      properties:
        id:
          type: integer
          description: Challenge identifier.
          example: 500123
        name:
          type: string
          description: Challenge display name.
          example: Deal damage with shotguns to opponents
        description:
          type: string
          description: Long-form challenge description.
          example: Deal 1,000 damage to opponents using shotguns.
        completionGoal:
          type: integer
          description: Target value required to complete the challenge.
          example: 1000
        rewardStars:
          type: integer
          description: Number of Battle Pass stars awarded on completion.
          example: 5
        difficulty:
          type: string
          description: Challenge difficulty tier.
          enum:
          - easy
          - medium
          - hard
          - extreme
          example: medium
        week:
          type: integer
          description: Battle Pass week number.
          example: 6
        season:
          type: string
          description: Battle Pass season identifier.
          example: c5s4
    Error:
      type: object
      description: Standard error response body.
      properties:
        error:
          type: string
          description: Short machine-readable error code.
          example: unauthorized
        message:
          type: string
          description: Human-readable error description.
          example: Missing or invalid TRN-Api-Key header.
  securitySchemes:
    trnApiKey:
      type: apiKey
      in: header
      name: TRN-Api-Key
      description: Per-account API key issued from https://fortnitetracker.com/site-api/create. Pass as the `TRN-Api-Key` request header. Default rate limit is approximately one request per two seconds per key.
